html{
    scroll-behavior: smooth;
}

li {
    float: left;
    display: block;
    padding: 2px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

 ul a{
      
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:inherit;
      
  }
  
 ul a:hover{
      opacity: 0.5;
  } 